# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\pro\vue_kuang\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
